// COLOR
$mainLinear: linear-gradient(0deg, #0033ab, #0d2ea3, #142a9c, #192594, #1c218d, #1e1c86, #20187f, #201377, #210e70, #20096a, #200463, #1f005c);
$mainWhite: #eee;
$basicCol: #eee;
$unimportantCol: #ccc;

// SIZE
$title: 4rem;
$subtitle: 2rem;
$tiny: 1rem;

$mainPad: 3rem;

// 